---
title: Default Title
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h6>start of content </h6>
    {{ content | safe }}
    <h6>end of content</h6>
  </body>
</html>
