---
title: Romeo Soria Jr.
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <link type="text/css" href="/css/styles.css" rel="stylesheet" async></link>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
      {{ content | safe }}
    </div>
  </body>
</html>
