
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #D1D4C9;
  font-size: 1.5vw;
}

html, body {
  height: 100%;
}


body {
  margin: 0;
  background-color: #323232;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  border: 1px solid #F6C90E;
  border-radius: 30px;
  padding: 10px;

}

.icon {
  width: 2vw;
  padding-right: 10px;
}


.profile-card .card {
  display: flex;
  justify-content: space-evenly;
}

.card-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info {
  display: flex;
  align-items: center;

}

.item {
  padding: 10px;
}

.item.card-image img {
  width: 13vw;
  border-radius: 50%;
}

.name {
  font-size: 3vw;
  font-weight: 600;
}

.subtitle {
  font-size: 2.25vw;
}

.description {
  font-size: 1.25vw;
}

@media (orientation: portrait) {

  .profile-card {
    height: 75%;
    width: 80%;
  }

  .profile-card .card {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .card-content {
    height: 100%;
  }

  .card-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .card-header {
    height: 50%;
  }

  .card-info {
    height: 50%;
  }

  .item {
    height: 50%;
  }

  .item.card-image {
    display: flex;
    align-items: center;
  }
  .item.card-image img {
    width: 40vw;
    border-radius: 50%;
  }
  .name {
    font-size: 7vw;
  }

  .subtitle {
    font-size: 5vw;
  }

  .description {
    font-size: 3vw;

  }
  .info-text {
    font-size: 4vw;
  }

  .icon {
    width: 5vw;
  }
}

