---
layout: default.njk
name: Romeo Soria Jr.
subtitle: Javascript Developer
twitter: '@romeoso'
github: '@romeosoriajr'
email: hey@rome.af

---
<div class="profile-card">
  <div class="card">
    <div class="item">
      <div class="card-content">
        <div class="card-header">
          <div class="name">
            {{ name }}
          </div>
          <div class="subtitle">
            {{ subtitle }}
          </div>
        </div>
        <div class="card-info">
          email: {{ email }}
        </div>
    </div>
    <div class="item">
      <img src="./images/profile.jpg"></img>
    </div>
  </div>
</div>
